node_modules/

.next
out
build
.pnpm-store

.git
.gitignore

.vscode
.idea
*.swp
*.swo

.DS_Store
Thumbs.db

Dockerfile
docker-compose*.yml
.dockerignore

README.md
LICENSE
*.md

.env
.env.*
!.env.example

*.log
npm-debug.log*
.vercel
coverage
